<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="/auth.css" />
  </head>
  <body>
    <form>
      <h1>Expense tracker Sign In</h1>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit" id="submit-btn">Sign In</button>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-end;
        "
      >
        <a class="authMover" href="/signup">Create a account</a>
        <a class="authMover" href="/forgot">Forgot Password</a>
      </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="/signin.js"></script>
  </body>
</html>
